.main-footer{
padding-top: 3em;
position: relative;
bottom: 0;
width: 100%;
}
.col h2{
   color: black;
   font-family: 'Dancing Script', cursive;
}
.col h6{
    color: black;
   font-family: 'Dancing Script', cursive;
}

ul{
    list-style: none;
}





.col-sm{
    color: rgb(4, 4, 41);
}

#foot{
    position: relative;
    top: 17px;
}
#foot a{
    font-size: .8rem;
}
